body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.homeCardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.homeCard {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1.5rem;
  max-width: 300px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.homeCardContent {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.homeCard:hover .homeCardContent {
  opacity: 1;
}

.homeCard:hover .homeCardImage {
  opacity: 0.3;
}

.homeCardImage {
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
  width: 150px;
  margin-bottom: 1rem;
}

.homeCardName {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.homeCardInfo {
  font-size: 1rem;
  color: #757575;
}
